@import "variables.less";

.clearfix(){
	&:after{
		content:"";
		display: table;
		clear:both;
	}
}

.container(){
	width:100%;
	@media(min-width:700px) and (max-width:1200px){
			min-width:700px;
			width:100%;
		}
	margin-left: auto;
	margin-right:auto;

	
}

.switch-control(){
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: @switch-unactive-color;
	border-radius:50%;
	vertical-align: middle;
	margin-left: 16px;
}

.switch-control--active(){
	background-color: #fff;
	border:3px solid @switch-active-color;
}