@import "variables.less";
@import "mixin.less";

.price{
	background-color: @bg-color-light;
	
	&__inner{
		.container();
		.clearfix();
		padding-top: 65px;
		padding-bottom: 47px;
		overflow: hidden;
	}

	&__table{
		width:260%;
		position: relative;
		margin-left: -79.67%;
		border-spacing:0;
		margin-bottom: 40px;
		overflow: hidden;
	}

	&__cell-head{
		background-color: @table-head-bg;
		color: @white-text;
		padding-top: 19px;
		padding-bottom: 22px;
		border: 1px solid @table-border-color;
		border-collapse: collapse;
		position: relative;
	}

	&__cell{
		background-color: #fff;
		border: 1px solid @table-border-color;
		padding: 17px 23px;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 30px;
		color: @dark-text;
		position: relative;
	}

	&__tarif{
		font-weight: 700;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
	}

	&__price{
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;
	}

	&__cell--true::after{
		content:"";
		.sprite();
		.sprite-ok-xs();
		position: absolute;
		right:18px;
		top:50%;
		margin-top: -11px;
	}

		&__cell--false::after{
		content:"";
		.sprite();
		.sprite-not-xs();
		position: absolute;
		right:18px;
		top:50%;
		margin-top: -13px;
	}

	&__cell--hit::before{
		content:"ХИТ";
		font-size: 14px;
		line-height: 30px;
		background-color: @hit-color;
		position: absolute;
		left:-5px;
		top:-4px;
		padding-left: 10px;
		padding-right: 50px;
		transform: rotate(-45deg);
	}

	&__cell--hit::after{
		content:"";
		border:15px solid transparent;
		border-right: 15px solid @hit-color;
		border-bottom:15px solid @hit-color;
		position: absolute;
		left: -17px;
		top: 37px;
		transform: rotate(-45deg);
	}

	&__controls{
		margin-left: -16px;
		text-align: center;
	}

	&__controls-item{
		.switch-control();
	}

	&__controls-item--active{
		.switch-control--active();
	}
}